{% extends 'base.html' %}

{% block content2 %}
{% if preference == 1 %}

    <form method="POST" action="{% url 'analysis_form' %}">
        {% csrf_token %}
        <h3>Select an option:</h3>
        
        <input type="radio" id="sales_of_each_store" name="analysis_type" value="sales_of_each_store">
        <label for="sales_of_each_store">Sales of each store</label><br>
        
        <input type="radio" id="store_location_analysis" name="analysis_type" value="store_location_analysis">
        <label for="store_location_analysis">Store location analysis</label><br>
        
        <input type="radio" id="source_contribution" name="analysis_type" value="source_contribution">
        <label for="source_contribution">Bar graph on the source contribution</label><br>
        
        <input type="radio" id="product_sold_by_given_store" name="analysis_type" value="product_sold_by_given_store">
        <label for="product_sold_by_given_store">Product sold by given store</label><br>
        
        <br>
        <input type="submit" value="Submit">
    </form>

{% endif %}
{% endblock %}
